<obs>define "base"</obs>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OBADA Node Gateway Server</title>
    <link href="/public/css/vendor.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/public/css/app.css" rel="stylesheet">
</head>
<body>
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <div style="margin-top: 25px; float: left">
                            <a href="/">
                                <span style="font-weight: bold; color: #fff; font-size: 36px">OBADA</span>
                            </a>
                        </div>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="https://www.obada.io">OBADA Foundation Home</a></li>
                            <li><a href="https://dev.rd.obada.io">Reference Design</a></li>
                            <li><a href="/">Gateway Server</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <obs>template "content" .</obs>

    <footer id="contact">
        <div class="footer-bottom slim">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">2021 © OBADA Foundation</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<obs>end</obs>