<obs>define "content"</obs>
<!-- ***** Wellcome Area Start ***** -->
<section class="block-explorer-wrapper bg-bottom-center" id="welcome-1">
    <div class="block-explorer text">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <h1>OBADA Node Gateway Server</h1>
                </div>
                <div class="offset-lg-3 col-lg-12">
                    <p>This server acts as both a reference design and a demo. It hosts a "node replica" which is synched to "the blockchain" (currently hosted at Amazon QLDB), API endpoints to update the node, and some tools for viewing and debug purposes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->

<!-- ***** What is ICO Start ***** -->
<section class="section bg-bottom" id="what-is-ico">
    <div class="container">
        <!-- ***** Features Items Start ***** -->
        <div class="row m-bottom-70">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="features-bordered" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
                    <div class="icon">
                        <img src="https://gateway.obada.io/assets/images/icon/1.svg" alt="">
                    </div>
                    <h5 class="features-title">Blockchain Explorer</h5>
                    <p>Provides a basic obits overview with ability to search.</p>
                    <a href="/explorer" style="color: #0000EE">See More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="features-bordered" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="icon">
                        <img src="https://gateway.obada.io/assets/images/icon/2.svg" alt="">
                    </div>
                    <h5 class="features-title">Obit Generator Tool</h5>
                    <p>Application that helps build obits with few easy steps.</p>
                    <a href="https://dev.rd.obada.io/generate/usn" style="color: #0000EE">See More <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.6s">
                <div class="features-bordered">
                    <div class="icon">
                        <img src="https://gateway.obada.io/assets/images/icon/3.svg" alt="">
                    </div>
                    <h5 class="features-title">Checksum Test Tool </h5>
                    <p class="has-error">Application that helps to test obit hashes.</p>

                    <a href="/checksum" style="color: #0000EE">See More</a>
                </div>
            </div>
        </div>
        <!-- ***** Features Items End ***** -->
    </div>
</section>
<obs>end</obs>
